<div class="form">
    <ul class="tab-group">
      <li class="tab active"><a href="registro-usuario">Sign Up</a></li>
      <li class="tab"><a href="login">Log In</a></li>
    </ul>
    
    <div class="tab-content">  
        <h1>Registrarse</h1>
        
        <form action="/" method="post">
        
        <div class="top-row">
          <div class="field-wrap">
            <input type="password" required autocomplete="off" placeholder="Contraseña*" />
          </div>
      
          <div class="field-wrap">
            <input type="email" formControlName="correo" required autocomplete="off" placeholder="Correo*"/>
          </div>
        </div>

        <div class="field-wrap">
          <input type="text"required autocomplete="off" placeholder="Dirección*"/>
        </div>
        
        <div class="field-wrap">
          <input type="text"required autocomplete="off" placeholder="Nombre*"/>
        </div>

        <div class="field-wrap">
            <input type="number"required autocomplete="off" placeholder="Teléfono*"/>
          </div>

        <button href='#'type="submit" class="button button-block">Registrarse</button>
        
        </form>
      
    </div>
    
</div>